div.panel.bg2 div.inner {
  display: flex;
  flex-wrap: wrap;
}

div.adyviewfriends.one-friend {
  margin: 5px;
  padding: 5px;
  min-width: 50px;
  text-align: center;
  position: relative;
  border-radius: 5px;
}

div.adyviewfriends.one-friend i {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
