{% if FRIENDS is not empty %}
{% INCLUDECSS '@ady_viewfriends/adyviewfriends.css' %}
<div class="panel bg2">
    <h3>{{ lang(VIEWFRIENDS_USERNAME) }}</h3>
    <div class="inner">
        {% for user_id, friend in FRIENDS %}
        <div class="adyviewfriends one-friend bg1">
            {% if ALLOWED_TO_REMOVE %}
            <a href="{{ path('ady_viewfriends_remove_friend', {friend_id: friend.zebra_id}) }}">
                <i class="icon fa fa-times-circle fa-fw"></i>
            </a>
            {% endif %}
            {{ friend.url_profile }}
            <br>
            {{ friend.avatar_img }}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
