{% include 'overall_header.html' %}

<div class="adyviewfriends panel bg2">
    <form method="POST" action="" enctype="multipart/form-data">
        <fieldset class="field1">
            <dd>
                {{ lang(VIEWFRIENDS_CONFIRM_REMOVE) }}
            </dd>
        </fieldset>
        <fieldset class='submit-buttons'>
            <input class="button1" type="submit" name="confirm" value="{L_YES}" />
            <input class="button2" type="submit" name="cancel" value="{L_NO}" />
        </fieldset>
    </form>
</div>

{% include 'overall_footer.html' %}
